.main-content{
    margin-left:250px;
    width:calc(100% - 250px);
    min-height:100vh;
    background:#f8fafc;
    transition:.3s;
}

@media(max-width:768px){

.main-content{

    margin-left:0;

    width:100%;

}

}